<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Very secret document</h1>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, nam perspiciatis dicta nihil ipsam, dolor
        neque ad temporibus, quam ex minus iusto quidem eius cumque in totam quos error delectus!
        Cumque repellendus repellat aliquid incidunt, quia veritatis, aut explicabo quis numquam reprehenderit tempora
        nobis at mollitia dignissimos non. Maiores ratione inventore exercitationem quae optio. Maxime iusto accusamus
        repudiandae voluptas vero.
        Magni obcaecati deserunt, consequuntur quam labore aspernatur. Magni quia, possimus obcaecati quam corrupti a
        incidunt et nulla dolor consectetur rem dolorem odio neque magnam, enim recusandae quod reprehenderit
        consequuntur provident!</div>
</body>

<form action="/logout" method="POST">
    <button type="submit">Log Out</button>
</form>

</html>